{% extends "dealership_site/base.html" %}
{% block content %}
    <section class="jumbotron text-justify bg-dark">
        <div class="container">
          <h1 class="jumbotron-heading text-white">About us</h1>
          <p class="lead text-white">Being a friend of a car dealership in Lodz, I noticed that the entire system of
              management, cost calculation and information about cars and their current condition is based on the
              Microsoft Excel application. After researching the problems of using a spreadsheet to manage such a
              business, I found this solution to be problematic in many ways. The problems start as soon as the program
              is turned on. Storing a large amount of data in spreadsheets causes applications to run for a very long
              time. In addition, employees do not store photos in it. To find a car, they use the VIN number, even with
              a small number of currently available cars. This is quite inconvenient for the employees themselves. Most
              costs are calculated in a separate spreadsheet, which requires a second spreadsheet window to be launched,
              which slows down computers even more. The calculations themselves are not stored anywhere, and often, if
              necessary, are written down on cards. I also noticed that employees use the OTOMOTO website to post ads.
              Combining these two facts, designing a website to manage such a salon with the possibility of listing
              offers for customers on your own website brings several benefits.</p>
        </div>
    </section>
{% endblock content %}