{% extends "dealership_site/base.html" %}
{% block content %}
{% for post in posts %}

<div class="col-md-4 ">
  <div class="card mb-4 box-shadow" style="height: 730px">
    <a role="button" class="btn btn-primary bg-dark" href="{% url 'user-posts' post.author.username %}">Check more vehicles from
      {{ post.author }}
    </a>
    <h4><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h4>

    {% if post.mainimage %}
    <img class="card-img-top" src="{{ post.mainimage.url }}" height="240px" width="auto" alt="Picture">
    {% else %}
    <img class="card-img-top" src="../media/images/cbr.jpg" alt="Card image cap">
    {% endif %}

<!--    {% for image in post.image_set.all %}-->
<!--    {% if post.image_set.all %}-->
<!--    <img class="card-img-top" src="{{ image.image.url }}" height="240px" width="auto" alt="Picture">-->
<!--    {%endif%}-->
<!--    {% endfor %}-->
    <div class="card-body">
      <ul class="list-group">
        <li class="list-group-item"><img src="../media/icons/tag.svg" alt="Price" width="25" height="25"> : {{ post.price }}zł</li>
        <li class="list-group-item"><img src="../media/icons/calendar.svg" alt="Year" width="25" height="25"> : {{ post.year }}</li>
        <li class="list-group-item"><img src="../media/icons/engine2.svg" alt="Capacity" width="25" height="25"> : {{ post.capacity }}ccm {{ post.fuel }}</li>
        <li class="list-group-item"><img src="../media/icons/piston.svg" alt="Power" width="25" height="25"> : {{ post.power }}KM</li>
        <li class="list-group-item"><img src="../media/icons/odo.svg" alt="Mileage" width="25" height="25"> : {{ post.odo }}km</li>
        <li class="list-group-item">STATUS: {{ post.status }}</li>
      </ul>
      <div class="d-flex justify-content-between align-items-center">
        <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
      </div>
    </div>
  </div>
</div>
{% endfor %}
<div>
  {% if is_paginated %}
  {% if page_obj.has_previous %}
  <a class="btn btn-outline-info mb-4 bg-dark" href="?page=1">First</a>
  <a class="btn btn-outline-info mb-4 bg-dark" href="?page={{ page_obj.previous_page_number }}">Previous</a>
  {% endif %}

  {% for num in page_obj.paginator.page_range %}
  {% if page_obj.number == num %}
  <a class="btn btn-primary mb-4 " href="?page={{ num }}">{{ num }}</a>
  {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
  <a class="btn btn-outline-info mb-4 bg-dark" href="?page={{ num }}">{{ num }}</a>
  {% endif %}
  {% endfor %}

  {% if page_obj.has_next %}
  <a class="btn btn-outline-info mb-4 bg-dark" href="?page={{ page_obj.next_page_number }}">Next</a>
  <a class="btn btn-outline-info mb-4 bg-dark" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
  {% endif %}
  {% endif %}
</div>
{% endblock content %}