{% extends "dealership_site/base.html" %}
{% block content %}
<article class="container bg-light">
    <div class="clearfix media">
        <img class="rounded-circle article-img pull-left" src="{{ object.author.profile.image.url }}" style="margin-top:4px">
        <a style="margin-top:4px" class="text-muted">   {{object.author.profile.name}} <br>
            {{object.author.profile.phone}} <br>
            Imagination street 29, 34-123 Imagine
        </a>
    </div>
  <div class="media-body">
    <div class="article-metadata">
      <a class="mr-2" href="{% url 'user-posts' object.author.username %}">{{ object.author }}</a>
      <small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>

      {% if object.author == user %}
      <div>
        <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' object.id %}">Update</a>
        <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}">Delete</a>
      </div>
      {% endif %}

    </div>
    <h2 class="article-title">{{ object.title }}</h2>
    {% if post.image %}
      <img class="card-img-top" src="{{ post.image.url }}" alt="Card image cap">
    {% endif %}
    <ul class="list-group" style="margin-bottom: 4px">
                    <li class="list-group-item">Price: {{ post.price }}zł</li>
                    <li class="list-group-item">Year: {{ post.year }}</li>
                    <li class="list-group-item">Engine: {{ post.capacity }}ccm {{ post.fuel }}</li>
                    <li class="list-group-item">Power: {{ post.power }}KM</li>
                    <li class="list-group-item">Mileage: {{ post.odo }}km</li>
                    <li class="list-group-item">STATUS: {{ post.status }}</li>
                    <li class="list-group-item">More Info: {{ post.content }}</li>
    </ul>
  </div>
</article>
{% endblock content %}